body {
    
    width:100%;
    background-color: rgb(6, 6, 28);
    
  }
   h1{

    text-align: left;
    height:10vh;
    text-align: center;
    
    color: aliceblue;
  }

  form{
    color: azure;

  }
  input:focus
  {
    background-color:rgb(83, 185, 222);
  }


  #name
  {
    width: 20%;
    height: 30px;
    border: 3px solid rgba(100,255,0,1);
  }
  #age
  {
    width: 20%;
    height: 30px;
    border: 3px solid rgb(20, 130, 203);
  }
  #class
  {

    width: 20%;
    height: 30px;
    border: 3px solid rgb(53, 119, 156);
  }
  #submit
  {
    width: 10%;
    height: 50px;
    border: 3px solid rgba(100,255,0,1);
  }
  #submit:hover
  {
    background-color: rgba(0,255,0,1);
  }
  
  
  

  
  .glowing {
    position: absolute;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(10deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(50px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(50px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(4n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1)
      0 0 0 40px rgba(22, 190, 227, 0.888);

  }
  
  .glowing span:nth-child(4n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgb(12, 84, 102),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 40px rgba(22, 190, 227, 0.888)
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(4n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 40px rgba(22, 190, 227, 0.888)
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(4n + 1) {
    animation: animate 8s alternate infinite;
  }
  
  .glowing span:nth-child(4n + 2) {
    animation: animate-reverse 2s alternate infinite;
  }
  
  .glowing span:nth-child(4n + 3) {
    animation: animate 5s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(90deg);
    }
  }